.message-card {
    height: 135px;
    margin: 40px auto;
    background-color: var(--bgwhite);
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.message-card img {
    width: 100%;
    height: 100%;
}

.message-card .container .title {
    margin-top: 15px;
    color: var(--medium);

    /* Text overflow ellipsis on one line */
    width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-card .container .name {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--dark);
}

.message-card .container .content {
    margin-top: 15px;
    font-size: 0.9em;
    color: var(--medium);

    /* Text overflow ellipsis on two lines */
    width: 550px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-card .time {
    margin-top: 15px;
    color: var(--medium);
}

@media screen and (max-width: 970px) {
    .message-card {
        width: 800px;
        grid-template-columns: 25% 60% 10%;
    }
    .message-card .container .content {
        width: 500px;
    }
}

@media screen and (max-width: 810px) {
    .message-card {
        width: 650px;
        grid-template-columns: 1fr 1fr 0.5fr;
    }
    .message-card .container .title,
    .message-card .container .content {
        width: 350px;
    }
}

@media screen and (max-width: 660px) {
    .message-card {
        width: 500px;
        grid-template-columns: 30% 50% 20%;
    }
    .message-card .container .title,
    .message-card .container .content {
        width: 250px;
    }
}

@media screen and (max-width: 510px) {
    .message-card .time {
        display: none;
    }
    .message-card {
        width: 400px;
        grid-template-columns: 1fr 2fr;
    }
    .message-card .container .title,
    .message-card .container .content {
        width: 250px;
    }
}

@media screen and (max-width: 410px) {
    .message-card {
        width: 350px;
        grid-template-columns: 40% 60%;
    }
    .message-card .container .title,
    .message-card .container .content {
        width: 200px;
    }
}

